<%= form_for(@discount_info) do |f| %>
  <% if @discount_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discount_info.errors.count, "error") %> prohibited this discount_info from being saved:</h2>

      <ul>
      <% @discount_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :discount %><br>
    <%= f.text_field :discount %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
